.btn {
  @extend %flex-center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;

  border-radius: 50%;
  padding: 0.7em 2em;
  background: none;
  border-radius: 5rem;
  transition: all 0.3s;

  &__pagination,
  &__backToMain {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  &__backToMain{
    margin: 0 auto;
    margin-top:1.5em;
  }

  &__main {
    color: #fff;
    background: var(--primary-color);
  }

  &__back {
    margin-top: 2.5em;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.3rem;

    span {
      font-size: 2rem;
      margin-right: 0.3em;
    }
  }
  &:hover {
    transform: translateY(-2px) scale(1.05);
  }

}
