.favorites {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  overflow: auto;
  top: 7rem;
  background: #fff;
  width: 30rem;
  margin-right: 1em;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: all 0.2s;

  img {
    width: 7rem;
    height: 7rem;
    border-radius: 2px;
    margin-right: 2rem;
    object-fit: cover;
  }

  &__div {
    display: flex;
    align-items: center;
    padding: 1em;
  }
  &__movieName {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 500;
    width: 50%;
  }
}

.nav__right:hover {
  .favorites {
    opacity: 1;
    visibility: visible;
  }
}
