.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f7f7f7;
  position: relative;
  &__logo {
    @extend %flex-center;
    font-size: 2rem;
    margin: 0 1.5em;

     @media only screen and (max-width: $bp-small) {
      font-size: 1.6rem;
      margin: 0 1em;
    }
    
  }
  &__left,
  &__form {
    @extend %flex-center;
  }
  &__favorites {
    height: 100%;
    display: flex;
    align-self: stretch;
    padding: 1em 1.5em;
    margin: 0 1.5em;

    &:hover {
      background-color: #eee;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin:0 0.5em;
    }
  }

  &__search {
    border: 1px var(--primary-color) solid;
    border-radius: 2rem;
    width: 30rem;
    padding: 1.4em 1.5em;

    @media only screen and (max-width: $bp-smallest) {
      width:20rem;
    }
   

    &::placeholder,
    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      font-size: 1.2rem;
      font-weight: 300;
      color: #555;
      font-family: inherit;
    }
  }
  &__btn {
    border-radius: 50%;
    padding: 1em;
    border: none;
    background: var(--primary-color);
    color: #fff;

    &--icon {
      @extend %flex-center;
    }
    &--submit {
      margin-left: -4.2em;
    }
  }
  &__icon--logo {
    color: var(--primary-color);
  }
}
