html {
  font-size: 62.5%;
}
body {
  color: #111;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #FFFFF;
  --black: #000000;
  --primary-color: #263238;
  --secondary-color: #5c656a;
  --tertiary-color: #444444;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  width: 100%;
  margin: 0 auto;
  max-width: 140rem;
}
